<p>The following student details were added:</p>
<p><b>Name: </b><%= @student.pretty_name %></p>
<p><b>Age: </b><%= @student.age %></p>
<p><b>House: </b><%= @student.house["name"] %></p>
<p><img src="<%= @student.house["url"] %>" alt="Hogwarts house colours"></p>
